@model CH.Spartan.Users.Dto.CreateUserOutput
@section styles
{
    @Styles.Render("~/styles/plugins/edit")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        var callback = null;
        (function ($) {
            if (!$) {
                return;
            }
            $(function () {
                from.validate({
                    submitHandler: function (form) {
                        var data =
                        {
                            user: abp.utils.getFormData(form)
                        };
                        abp.ajax({
                            url: "/AgentManage/CreateUser",
                            data: JSON.stringify(data)
                        }).done(function (result) {
                            if (callback) {
                                callback(result, "@L("添加成功")");
                            }
                            abp.dialog.close();
                        });
                    }
                });

            });

        })(jQuery);

        function submitForm(cb) {
            callback = cb;
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins @(SpartanConsts.DefaultAnimate) edit-col-1">
    <form class="form-horizontal" id="form">
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <p>默认密码为：@SpartanConsts.DefaultPassword</p>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("客户名"):</label>
                        <div class="col-sm-8">
                            <input class="form-control required stringCheck" type="text" id="UserName" name="UserName" value="@Model.User.UserName"/>
                            <span class="help-block m-b-none">@L("用于登录系统")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("名称"):</label>
                        <div class="col-sm-8">
                            <input class="form-control required stringCheck" type="text" id="Name" name="Name" value="@Model.User.Name" />
                            <span class="help-block m-b-none">@L("例如 羽衡科技有限公司")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("邮件"):</label>
                        <div class="col-sm-8">
                            <input class="form-control required isEmail" type="text" id="EmailAddress" name="EmailAddress" value="@Model.User.EmailAddress" />
                            <span class="help-block m-b-none">@L("请务必填写真实的邮件地址 用于忘记密码时的验证")</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
