@model CH.Spartan.Devices.Dto.CreateDeviceByAgentOutput
@section styles
{
    @Styles.Render("~/styles/plugins/edit")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        (function ($) {
            if (!$) {
                return;
            }
            from.validate({
                submitHandler: function (form) {
                    var data =
                    {
                        device: abp.utils.getFormData(form)
                    };
                    abp.ajax({
                        url: "/AgentManage/CreateDevice",
                        data: JSON.stringify(data)
                    }).done(function (result) {
                        abp.notify.success("@L("添加成功")");
                        abp.dialog.close();
                    });
                }
            });
        })(jQuery);

        function submitForm() {
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins @SpartanConsts.DefaultAnimate edit-col-1">
    <form class="form-horizontal" id="form">
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("所属客户"):</label>
                        <div class="col-sm-8 ">
                            @Html.AutoCompleteUser("UserId", L("请选择客户"), null, "required w180")
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备类型"):</label>
                        <div class="col-sm-8 ">
                            @Html.GetSelectByDeviceType("BDeviceTypeId", L("请选择设备类型"), null, "required w180")
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备号"):</label>
                        <div class="col-sm-8 ">
                            <input class="form-control required isDigits" type="text" id="BNo" name="BNo" />
                            <span class="help-block m-b-none">设备的唯一编码 一般是IMEI号或者序列号</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备卡号"):</label>
                        <div class="col-sm-8 ">
                            <input class="form-control required isDigits" type="text" id="BSimNo" name="BSimNo"/>
                            <span class="help-block m-b-none">设备所使用的SIM卡卡号</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备名字"):</label>
                        <div class="col-sm-8 ">
                            <input class="form-control required" type="text" id="BName" name="BName"/>
                            <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("车牌号"):</label>
                        <div class="col-sm-8">
                            <input class="form-control required isLicensePlate" type="text" id="BLicensePlate" name="BLicensePlate" />
                            <span class="help-block m-b-none">例如：粤B95270</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("过期时间"):</label>
                        <div class="col-sm-8">
                            <input class="form-control required" type="text" id="BExpireTime" name="BExpireTime" onfocus="WdatePicker()"/>
                            <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

