@model CH.Spartan.DeviceStocks.Dto.UpdateDeviceStockOutput
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        var callback = null;
        (function ($) {
            if (!$) {
                return;
            }
            $(function () {
                from.validate({
                    submitHandler: function (form) {
                        var data =
                        {
                            deviceStock: abp.utils.getFormData(form)
                        };
                        abp.ajax({
                            url: "/AgentManage/UpdateDeviceStock",
                            data: JSON.stringify(data)
                        }).done(function (result) {
                            if (callback) {
                                callback(result, "@L("保存成功")");
                            }
                            abp.dialog.close();
                        });
                    }
                });
            });
        })(jQuery);

        function submitForm(cb) {
            callback = cb;
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins @(SpartanConsts.DefaultAnimate) edit-col-1">
    <form class="form-horizontal" id="form">
        <input name="Id" class="form-control" type="hidden" value="@Model.DeviceStock.Id">
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备号"):</label>
                        <div class="col-sm-8">
                            <input class="form-control required isDigits" type="text" id="No" name="No" value="@Model.DeviceStock.No" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
