@model CH.Spartan.Devices.Dto.UpdateDeviceOutput
@section styles
{
    @Styles.Render("~/styles/plugins/edit")
    <style type="text/css">
        .tabs-container ul > li > a {
            border-radius: 0px;
        }
    </style>
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        (function ($) {
            if (!$) {
                return;
            }
            from.validate({
                submitHandler: function (form) {
                    var data =
                    {
                        device: abp.utils.getFormData(form)
                    };
                    abp.ajax({
                        url: "/AgentManage/UpdateDevice",
                        data: JSON.stringify(data)
                    }).done(function (result) {
                        abp.notify.success("@L("保存成功")");
                        abp.dialog.close();
                    });
                }
            });
        })(jQuery);

        function submitForm() {
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins @SpartanConsts.DefaultAnimate">

    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-1" aria-expanded="true">基本资料</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-2" aria-expanded="false">第二个选项卡</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">普通</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">带说明信息</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-form-un="1460628046099.0093"> <span class="help-block m-b-none">帮助文本，可能会超过一行，以块级元素显示</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" data-form-pw="1460628046099.0093">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">提示</label>

                            <div class="col-sm-10">
                                <input type="text" placeholder="提示信息" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">禁用</label>

                            <div class="col-sm-10">
                                <input type="text" disabled="" placeholder="已被禁用" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">静态控制</label>

                            <div class="col-sm-10">
                                <p class="form-control-static">izi-han.net</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                复选框&amp;单选框
                                <br>
                                <small class="text-navy">普通Bootstrap元素</small>
                            </label>

                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">选项1
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">选项1
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">选项2
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内联复选框</label>

                            <div class="col-sm-10">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="option1" id="inlineCheckbox1">a
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="option2" id="inlineCheckbox2">b
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="option3" id="inlineCheckbox3">c
                                </label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                复选框&amp;单选框
                                <br><small class="text-navy">自定义样式</small>
                            </label>

                            <div class="col-sm-10">
                                <div class="checkbox i-checks">
                                    <label>
                                        <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" value="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> <i></i> 选项1
                                    </label>
                                </div>
                                <div class="checkbox i-checks">
                                    <label>
                                        <div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" value="" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> <i></i> 选项2（选中）
                                    </label>
                                </div>
                                <div class="checkbox i-checks">
                                    <label>
                                        <div class="icheckbox_square-green checked disabled" style="position: relative;"><input type="checkbox" value="" disabled="" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> <i></i> 选项3（选中并禁用）
                                    </label>
                                </div>
                                <div class="checkbox i-checks">
                                    <label>
                                        <div class="icheckbox_square-green disabled" style="position: relative;"><input type="checkbox" value="" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> <i></i> 选项4（禁用）
                                    </label>
                                </div>
                                <div class="radio i-checks">
                                    <label>
                                        <div class="iradio_square-green" style="position: relative;"><input type="radio" value="option1" name="a" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> <i></i> 选项1
                                    </label>
                                </div>
                                <div class="radio i-checks">
                                    <label>
                                        <div class="iradio_square-green checked" style="position: relative;"><input type="radio" checked="" value="option2" name="a" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> <i></i> 选项2（选中）
                                    </label>
                                </div>
                                <div class="radio i-checks">
                                    <label>
                                        <div class="iradio_square-green checked disabled" style="position: relative;"><input type="radio" disabled="" checked="" value="option2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> <i></i> 选项3（选中并禁用）
                                    </label>
                                </div>
                                <div class="radio i-checks">
                                    <label>
                                        <div class="iradio_square-green disabled" style="position: relative;"><input type="radio" disabled="" name="a" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> <i></i> 选项4（禁用）
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内联复选框</label>

                            <div class="col-sm-10">
                                <label class="checkbox-inline i-checks">
                                    <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" value="option1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>a
                                </label>
                                <label class="checkbox-inline i-checks">
                                    <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" value="option2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>b
                                </label>
                                <label class="checkbox-inline i-checks">
                                    <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" value="option3" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>c
                                </label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Select</label>

                            <div class="col-sm-10">
                                <select class="form-control m-b" name="account">
                                    <option>选项 1</option>
                                    <option>选项 2</option>
                                    <option>选项 3</option>
                                    <option>选项 4</option>
                                </select>

                                <div class="col-sm-4 m-l-n">
                                    <select class="form-control" multiple="">
                                        <option>选项 1</option>
                                        <option>选项 2</option>
                                        <option>选项 3</option>
                                        <option>选项 4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-success">
                            <label class="col-sm-2 control-label">验证通过</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-warning">
                            <label class="col-sm-2 control-label">未填写</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label">验证未通过</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">自定义尺寸</label>

                            <div class="col-sm-10">
                                <input type="text" placeholder=".input-lg" class="form-control input-lg m-b">
                                <input type="text" placeholder="Default input" class="form-control m-b">
                                <input type="text" placeholder=".input-sm" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">列尺寸</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-2">
                                        <input type="text" placeholder=".col-md-2" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" placeholder=".col-md-3" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" placeholder=".col-md-4" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文本框组</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon"></span>
                                    <input type="text" placeholder="用户名" class="form-control">
                                </div>
                                <div class="input-group m-b">
                                    <input type="text" class="form-control"> <span class="input-group-addon">.00</span>
                                </div>
                                <div class="input-group m-b">
                                    <span class="input-group-addon">¥</span>
                                    <input type="text" class="form-control"> <span class="input-group-addon">.00</span>
                                </div>
                                <div class="input-group m-b">
                                    <span class="input-group-addon"> <input type="checkbox"> </span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"> <input type="radio"> </span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">按钮插件</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">搜</button>
                                    </span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">
                                            搜索
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">带下拉框</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                            操作 <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="form_basic.html#">选项1</a>
                                            </li>
                                            <li>
                                                <a href="form_basic.html#">选项2</a>
                                            </li>
                                            <li>
                                                <a href="form_basic.html#">选项3</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="form_basic.html#">选项4</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control">

                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                            操作 <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="form_basic.html#">选项1</a>
                                            </li>
                                            <li>
                                                <a href="form_basic.html#">选项2</a>
                                            </li>
                                            <li>
                                                <a href="form_basic.html#">选项3</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="form_basic.html#">选项4</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分段</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <div class="input-group-btn">
                                        <button tabindex="-1" class="btn btn-white" type="button">操作</button>
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="form_basic.html#">选项1</a>
                                            </li>
                                            <li>
                                                <a href="form_basic.html#">选项2</a>
                                            </li>
                                            <li>
                                                <a href="form_basic.html#">选项3</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="form_basic.html#">选项4</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control">

                                    <div class="input-group-btn">
                                        <button tabindex="-1" class="btn btn-white" type="button">操作</button>
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            分段
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit" data-form-sbm="1460628046099.0093">保存内容</button>
                                <button class="btn btn-white" type="submit">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="ibox-content timeline">
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-briefcase"></i> 6:00
                                    <br>
                                    <small class="text-navy">2 小时前</small>
                                </div>
                                <div class="col-xs-7 content no-top-border">
                                    <p class="m-b-xs">
                                        <strong>服务器已彻底崩溃</strong>
                                    </p>

                                    <p>还未检查出错误</p>

                                    <p>
                                        <span data-diameter="40" class="updating-chart" style="display: none;">1,0,3,1,7,1,4,4,1,9,7,6,4,3,7,10,8,5,2,8,1,4,2,10,3,8,10,9,7,2,2,10,5,5,10,1,1</span><svg class="peity" height="16" width="64"><polygon fill="#1ab394" points="0 15 0 14 1.7777777777777777 15.5 3.5555555555555554 11 5.333333333333333 14 7.111111111111111 5 8.88888888888889 14 10.666666666666666 9.5 12.444444444444443 9.5 14.222222222222221 14 16 2 17.77777777777778 5 19.555555555555554 6.5 21.333333333333332 9.5 23.11111111111111 11 24.888888888888886 5 26.666666666666664 0.5 28.444444444444443 3.5 30.22222222222222 8 32 12.5 33.77777777777778 3.5 35.55555555555556 14 37.33333333333333 9.5 39.11111111111111 12.5 40.888888888888886 0.5 42.666666666666664 11 44.44444444444444 3.5 46.22222222222222 0.5 48 2 49.77777777777777 5 51.55555555555555 12.5 53.33333333333333 12.5 55.11111111111111 0.5 56.888888888888886 8 58.666666666666664 8 60.44444444444444 0.5 62.22222222222222 14 64 14 64 15"></polygon><polyline fill="transparent" points="0 14 1.7777777777777777 15.5 3.5555555555555554 11 5.333333333333333 14 7.111111111111111 5 8.88888888888889 14 10.666666666666666 9.5 12.444444444444443 9.5 14.222222222222221 14 16 2 17.77777777777778 5 19.555555555555554 6.5 21.333333333333332 9.5 23.11111111111111 11 24.888888888888886 5 26.666666666666664 0.5 28.444444444444443 3.5 30.22222222222222 8 32 12.5 33.77777777777778 3.5 35.55555555555556 14 37.33333333333333 9.5 39.11111111111111 12.5 40.888888888888886 0.5 42.666666666666664 11 44.44444444444444 3.5 46.22222222222222 0.5 48 2 49.77777777777777 5 51.55555555555555 12.5 53.33333333333333 12.5 55.11111111111111 0.5 56.888888888888886 8 58.666666666666664 8 60.44444444444444 0.5 62.22222222222222 14 64 14" stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline></svg>
                                        <svg class="peity" height="16" width="64">
                                            <polygon fill="#1ab394" points="0 15 0 10.5 1.7777777777777777 0.5 3.5555555555555554 5.5 5.333333333333333 7.166666666666666 7.111111111111111 0.5 8.88888888888889 8.833333333333332 10.666666666666666 3.833333333333332 12.444444444444443 10.5 14.222222222222221 12.166666666666666 16 0.5 17.77777777777778 2.166666666666666 19.555555555555554 3.833333333333332 21.333333333333332 8.833333333333332 23.11111111111111 7.166666666666666 24.888888888888886 13.833333333333334 26.666666666666664 12.166666666666666 28.444444444444443 0.5 30.22222222222222 7.166666666666666 32 8.833333333333332 33.77777777777778 3.833333333333332 35.55555555555556 12.166666666666666 37.33333333333333 3.833333333333332 39.11111111111111 3.833333333333332 40.888888888888886 10.5 42.666666666666664 7.166666666666666 44.44444444444444 12.166666666666666 46.22222222222222 10.5 48 10.5 49.77777777777777 12.166666666666666 51.55555555555555 13.833333333333334 53.33333333333333 5.5 55.11111111111111 0.5 56.888888888888886 2.166666666666666 58.666666666666664 2.166666666666666 60.44444444444444 10.5 62.22222222222222 3.833333333333332 64 8.833333333333332 64 15"></polygon>
                                            <polyline fill="transparent" points="0 10.5 1.7777777777777777 0.5 3.5555555555555554 5.5 5.333333333333333 7.166666666666666 7.111111111111111 0.5 8.88888888888889 8.833333333333332 10.666666666666666 3.833333333333332 12.444444444444443 10.5 14.222222222222221 12.166666666666666 16 0.5 17.77777777777778 2.166666666666666 19.555555555555554 3.833333333333332 21.333333333333332 8.833333333333332 23.11111111111111 7.166666666666666 24.888888888888886 13.833333333333334 26.666666666666664 12.166666666666666 28.444444444444443 0.5 30.22222222222222 7.166666666666666 32 8.833333333333332 33.77777777777778 3.833333333333332 35.55555555555556 12.166666666666666 37.33333333333333 3.833333333333332 39.11111111111111 3.833333333333332 40.888888888888886 10.5 42.666666666666664 7.166666666666666 44.44444444444444 12.166666666666666 46.22222222222222 10.5 48 10.5 49.77777777777777 12.166666666666666 51.55555555555555 13.833333333333334 53.33333333333333 5.5 55.11111111111111 0.5 56.888888888888886 2.166666666666666 58.666666666666664 2.166666666666666 60.44444444444444 10.5 62.22222222222222 3.833333333333332 64 8.833333333333332" stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline>
                                        </svg>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-file-text"></i> 7:00
                                    <br>
                                    <small class="text-navy">3小时前</small>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs">
                                        <strong>修复了0.5个bug</strong>
                                    </p>
                                    <p>重启服务</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-coffee"></i> 8:00
                                    <br>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs">
                                        <strong>喝水、上厕所、做测试</strong>
                                    </p>
                                    <p>
                                        喝了4杯水，上了3次厕所，控制台输出出2324个错误，神啊，带我走吧
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-phone"></i> 11:00
                                    <br>
                                    <small class="text-navy">21小时前</small>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs">
                                        <strong>项目经理打电话来了</strong>
                                    </p>
                                    <p>
                                        TMD，项目经理居然还没有起床！！！
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-user-md"></i> 09:00
                                    <br>
                                    <small>21小时前</small>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs">
                                        <strong>开会</strong>
                                    </p>
                                    <p>
                                        开你妹的会，老子还有897894个bug没有修复
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-comments"></i> 12:50
                                    <br>
                                    <small class="text-navy">讨论</small>
                                </div>
                                <div class="col-xs-7 content">
                                    <p class="m-b-xs">
                                        <strong>…………</strong>
                                    </p>
                                    <p>
                                        又是操蛋的一天
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    @*<div class="ibox-content">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("设备名字"):</label>
                    <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BName" name="BName" value="@Model.Device.BName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("车牌号"):</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="BLicensePlate" name="BLicensePlate" value="@Model.Device.BLicensePlate"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("设备图标类型"):</label>
                    <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BIconType" name="BIconType" value="@Model.Device.BIconType"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("设备类型Id"):</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="BDeviceTypeId" name="BDeviceTypeId" value="@Model.Device.BDeviceTypeId"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("设备号"):</label>
                    <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BNo" name="BNo" value="@Model.Device.BNo"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("设备唯一编码不同的设备编码生成规则不一样"):</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="BCode" name="BCode" value="@Model.Device.BCode"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("Sim号"):</label>
                    <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BSimNo" name="BSimNo" value="@Model.Device.BSimNo"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("过期时间"):</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="BExpireTime" name="BExpireTime" value="@Model.Device.BExpireTime"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("所属节点Id"):</label>
                    <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BNodeId" name="BNodeId" value="@Model.Device.BNodeId"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("报警设置超限速"):</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="SLimitSpeed" name="SLimitSpeed" value="@Model.Device.SLimitSpeed"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="col-sm-4 control-label">@L("报警设置进出区域"):</label>
                    <div class="col-sm-8 ">
                        @Html.GetSelectByEnable("SInOutArea", "", Model.Device.SInOutArea, "")
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("所属租户Id"):</label>
                        <div class="col-sm-8 ">
                            <input class="form-control " type="text" id="TenantId" name="TenantId" value="@Model.Device.TenantId"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("所属用户Id"):</label>
                        <div class="col-sm-8 ">
                            <input class="form-control " type="text" id="UserId" name="UserId" value="@Model.Device.UserId"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>*@

</div>
