@section styles
{
    @Styles.Render("~/styles/plugins/list")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/list")
    <script type="text/javascript">
        //操作
        function formatterOp(value, row, index) {
            var edit = "";
            var del = "";
            if (abp.auth.isGranted("@SpartanPermissionNames.PlatformManages_User_Update")) {
                edit = '<i class="btn-op fa fa-edit" title="@L("修改")" onclick="update(\'' + row.id + '\')"></i>';
            }
            if (abp.auth.isGranted("@SpartanPermissionNames.PlatformManages_User_Delete")) {
                del = '<i class="btn-op fa fa-trash-o" title="@L("删除")" onclick="del(\'' + row.id + '\')"></i>';
            }
            return edit + del;
        }



        //添加
        function create() {
            abp.dialog.open("/PlatformManage/CreateUser", "@L("添加用户")", {
                //area: ["775px", "750px"],
                area: ["675px", "750px"],
                //area: ["775px", "750px"],
                //area: ["995px", "750px"],
                //area: ["1250px", "750px"],
                btn: ["@L("确定")", '@L("取消")'],
                yes: function (index, layero) {
                    var iframeWin = layero.find("iframe")[0].contentWindow;
                    iframeWin.submitForm();
                },
                cancel: function (index) {
                },
                end: function () {
                    $("#btn-search").click();
                }
            });
        }

        //更新
        function update(id) {
            abp.dialog.open("/PlatformManage/UpdateUser?id=" + id, "@L("修改用户")", {
                //area: ["775px", "750px"],
                area: ["675px", "750px"],
                //area: ["775px", "750px"],
                //area: ["995px", "750px"],
                //area: ["1250px", "750px"],
                btn: ["@L("保存")", '@L("取消")'],
                yes: function (index, layero) {
                    var iframeWin = layero.find("iframe")[0].contentWindow;
                    iframeWin.submitForm();
                },
                cancel: function (index) {
                },
                end: function () {
                    $("#btn-search").click();
                }
            });
        }




        //删除
        function del(ids) {
            if (typeof ids == "string") {
                ids = [{ id: ids }];
            }
            abp.message.confirm("@L("确定删除")?", function (yes) {
                if (!yes) return;
                abp.ajax({
                    url: "/PlatformManage/DeleteUser",
                    data: JSON.stringify(ids)
                }).done(function (result) {
                    abp.notify.success("@L("删除成功")");
                    $("#btn-search").click();
                });
            });
        }





        (function ($) {
            if (!$) {
                return;
            }

            //搜索
            $("#btn-search").click(function () {
                var args =
                {
                    query: abp.utils.getFormData("#form")
                }
                $("#table").bootstrapTable("refresh", args);
            });

            //添加
            $("#btn-add").click(function () {
                create();
            });

            //删除
            $("#btn-del").click(function () {
                var rows = $("#table").bootstrapTable("getSelections");
                var ids = [];
                $.each(rows, function (index, item) {
                    ids.push({ id: item.id });
                });
                if (ids.length == 0) {
                    abp.notify.error("@L("请选择要删除的数据")");
                } else {
                    del(ids);
                }
            });



        })(jQuery);
    </script>
}
<div class="wrapper wrapper-content @(SpartanConsts.DefaultAnimate) list">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content list-toolbar">
                    <form role="form" class="form-inline" id="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="@L("用户名/名称")" name="SearchText">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btn-search">@L("查询")</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ibox-content list-content">
                    <div class="btn-group hidden-xs" id="tableToolbar" role="group">
                        @if (IsGranted(SpartanPermissionNames.PlatformManages_User_Create))
                        {
                            <button type="button" class="btn btn-outline btn-default" id="btn-add"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        }
                        @if (IsGranted(SpartanPermissionNames.PlatformManages_User_Delete))
                        {
                            <button type="button" class="btn btn-outline btn-default" id="btn-del"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        }
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-url="/PlatformManage/SearchUser"
                           data-toolbar="#tableToolbar"
                           data-height="550"
                           data-show-export="true">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" data-sortable="true" data-width="50">@L("编号")</th>
                                <th data-field="op" data-formatter="formatterOp" data-width="60">@L("操作")</th>
                                <th data-field="tenantText" data-sortable="true">@L("所属租户")</th>
                                <th data-field="userName" data-sortable="true">@L("用户名")</th>
                                <th data-field="name" data-sortable="true">@L("名称")</th>
                                <th data-field="emailAddress" data-sortable="true">@L("邮件")</th>
                                <th data-field="isActiveText" data-sortable="true">@L("是否激活")</th>
                                <th data-field="lastLoginTime" data-sortable="true">@L("最后登录时间")</th>
                                <th data-field="creationTime" data-sortable="true">@L("创建时间")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
