@section styles
{
    @Styles.Render("~/styles/plugins/list")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/list")
    <script type="text/javascript">
        //操作
        function formatterOp(value, row, index) {
            var del = "";
            if (abp.auth.isGranted("@SpartanPermissionNames.SystemManages_AuditLog_Delete")) {
                del = '<button type="button" class="btn btn-link btn-op" title="@L("删除")" onclick="del(\'' + row.id + '\')"><i class="fa fa-trash-o""></i> @L("删除")</button>';
            }
            return del;
        }
        //删除
        function del(ids) {
            if (typeof ids == "string") {
                ids = [{ id: ids }];
            }
            abp.message.confirm("@L("确定删除")?", function (yes) {
                if (!yes) return;
                abp.ajax({
                    url: "/SystemManage/DeleteAuditLog",
                    data: JSON.stringify(ids)
                }).done(function (result) {
                    $("#table").bootstrapTable("refresh");
                    abp.notify.success("@L("删除成功")");
                });
            });
        }

        (function ($) {
            if (!$) {
                return;
            }
            $(function () {
                //搜索
                $("#btn-search").click(function () {
                    var args =
                    {
                        query: abp.utils.getFormData("#form")
                    }
                    $("#table").bootstrapTable("refresh", args);
                });

                //删除
                $("#btn-del").click(function () {
                    var rows = $("#table").bootstrapTable("getSelections");
                    var ids = [];
                    $.each(rows, function (index, item) {
                        ids.push({ id: item.id });
                    });
                    if (ids.length == 0) {
                        abp.notify.error("@L("请选择要删除的数据")");
                    } else {
                        del(ids);
                    }
                });

            });

        })(jQuery);
    </script>
}
<div class="wrapper wrapper-content @(SpartanConsts.DefaultAnimate) list">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content list-toolbar">
                    <form role="form" class="form-inline" id="form">
                        <div class="form-group">
                            @Html.SearchText(L("请输入关键字"), L("查询"))
                        </div>
                    </form>
                </div>
                <div class="ibox-content list-content">
                    <div class="btn-group hidden-xs" id="tableToolbar" role="group">
                        @if (IsGranted(SpartanPermissionNames.SystemManages_AuditLog_Delete))
                        {
                            <button type="button" class="btn btn-outline btn-default" id="btn-del"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        }
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-url="/SystemManage/GetAuditLogListPaged"
                           data-toolbar="#tableToolbar"
                           data-height="550"
                           data-show-export="true">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" data-sortable="true" data-width="50">@L("编号")</th>
                                <th data-field="op" data-formatter="formatterOp" data-width="60">@L("操作")</th>
                                <th data-field="serviceName" data-sortable="true">@L("所属模块类或者接口")</th>
                                <th data-field="methodName" data-sortable="true">@L("执行方法名")</th>
                                <th data-field="parameters" data-sortable="true">@L("执行方法参数")</th>
                                <th data-field="executionTime" data-sortable="true">@L("执行方法开始时间")</th>
                                <th data-field="executionDuration" data-sortable="true">@L("执行方法耗时毫秒")</th>
                                <th data-field="clientIpAddress" data-sortable="true">@L("客户端IP")</th>
                                <th data-field="clientName" data-sortable="true">@L("客户端机器名")</th>
                                <th data-field="browserInfo" data-sortable="true">@L("浏览器")</th>
                                <th data-field="exception" data-sortable="true">@L("异常.")</th>
                                <th data-field="customData" data-sortable="true">@L("自定义数据")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
