@using System.Web.Optimization
@model CH.Spartan.MultiTenancy.Dto.CreateTenantOutput
@section scripts
{
    @Scripts.Render("~/scripts/plugins/validation")
    <script type="text/javascript">
        var from = $("#form");
        (function ($) {
            if (!$) {
                return;
            }
            from.validate({
                submitHandler: function (form) {
                    var data =
                    {
                        tenant: abp.utils.getFormData(form)
                    };
                    debugger;
                    abp.ajax({
                        url: "/SystemManage/CreateTenant",
                        data: JSON.stringify(data)
                    }).done(function (result) {
                        abp.dialog.close();
                    });
                }
            });
        })(jQuery);

        function saveData() {
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins animated lightSpeedIn">
    <div class="ibox-content">
        <form class="form-horizontal m-t" id="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">@L("公司名")：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text" required value="@Model.Tenant.Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@L("用户名")：</label>
                <div class="col-sm-8">
                    <input name="tenancyName" class="form-control" type="text" required value="@Model.Tenant.TenancyName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@L("邮件")：</label>
                <div class="col-sm-8">
                    <input name="emailAddress" class="form-control" type="text" required value="@Model.Tenant.EmailAddress">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@L("电话")：</label>
                <div class="col-sm-8">
                    <input name="phone" class="form-control" type="text" required value="@Model.Tenant.Phone">
                </div>
            </div>
        </form>
    </div>
</div>
