@model CH.Spartan.Devices.Dto.CreateDeviceOutput
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        (function ($) {
            if (!$) {
                return;
            }
            from.validate({
                submitHandler: function (form) {
                    var data =
                    {
                        device: abp.utils.getFormData(form)
                    };
                    abp.ajax({
                        url: "/PlatformManage/CreateDevice",
                        data: JSON.stringify(data)
                    }).done(function (result) {
                        abp.message.success("@L("添加成功")");
                        abp.dialog.close();
                    });
                }
            });
        })(jQuery);

        function submitForm() {
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins animated lightSpeedIn">
   <form class="form-horizontal" id="form">
    <div class="ibox-content">
             <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备名字"):</label>
                        <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BName" name="BName" value="@Model.Device.BName" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("车牌号"):</label>
                        <div class="col-sm-8">
                        <input class="form-control " type="text" id="BLicensePlate" name="BLicensePlate" value="@Model.Device.BLicensePlate" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备图标类型"):</label>
                        <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BIconType" name="BIconType" value="@Model.Device.BIconType" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备类型Id"):</label>
                        <div class="col-sm-8">
                        <input class="form-control " type="text" id="BDeviceTypeId" name="BDeviceTypeId" value="@Model.Device.BDeviceTypeId" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备号"):</label>
                        <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BNo" name="BNo" value="@Model.Device.BNo" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备唯一编码不同的设备编码生成规则不一样"):</label>
                        <div class="col-sm-8">
                        <input class="form-control " type="text" id="BCode" name="BCode" value="@Model.Device.BCode" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("Sim号"):</label>
                        <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BSimNo" name="BSimNo" value="@Model.Device.BSimNo" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("过期时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="BExpireTime" name="BExpireTime" value="@Model.Device.BExpireTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("所属节点Id"):</label>
                        <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="BNodeId" name="BNodeId" value="@Model.Device.BNodeId" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("报警设置超限速"):</label>
                        <div class="col-sm-8">
                        <input class="form-control " type="text" id="SLimitSpeed" name="SLimitSpeed" value="@Model.Device.SLimitSpeed" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("报警设置进出区域"):</label>
                        <div class="col-sm-8 ">
                         <select name="SInOutArea" id="SInOutArea" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.SInOutArea)</select>
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("方向0-359,正北为0,顺时针"):</label>
                        <div class="col-sm-8">
                        <input class="form-control " type="text" id="GDirection" name="GDirection" value="@Model.Device.GDirection" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("海拔高度,单位为米(m)"):</label>
                        <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="GHeight" name="GHeight" value="@Model.Device.GHeight" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("纬度"):</label>
                        <div class="col-sm-8">
                        <input class="form-control " type="text" id="GLatitude" name="GLatitude" value="@Model.Device.GLatitude" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("经度"):</label>
                        <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="GLongitude" name="GLongitude" value="@Model.Device.GLongitude" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("速度(1/10)/km/h"):</label>
                        <div class="col-sm-8">
                        <input class="form-control " type="text" id="GSpeed" name="GSpeed" value="@Model.Device.GSpeed" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("GPS最后定位时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="GReportTime" name="GReportTime" value="@Model.Device.GReportTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设备最后通讯时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="GReceiveTime" name="GReceiveTime" value="@Model.Device.GReceiveTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("是否已经定位"):</label>
                        <div class="col-sm-8 ">
                         <select name="GIsLocated" id="GIsLocated" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.GIsLocated)</select>
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("ACC"):</label>
                        <div class="col-sm-8">
                         <select name="CIsAccOn" id="CIsAccOn" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.CIsAccOn)</select>
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("电量"):</label>
                        <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="CPower" name="CPower" value="@Model.Device.CPower" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("是否继电器启用"):</label>
                        <div class="col-sm-8">
                         <select name="CIsRelayEnable" id="CIsRelayEnable" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.CIsRelayEnable)</select>
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("电器启用时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="CRelayBreakTime" name="CRelayBreakTime" value="@Model.Device.CRelayBreakTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("是否外接电源断开"):</label>
                        <div class="col-sm-8">
                         <select name="CIsMainPowerBreak" id="CIsMainPowerBreak" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.CIsMainPowerBreak)</select>
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("外接电源断开时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="CMainPowerBreakTime" name="CMainPowerBreakTime" value="@Model.Device.CMainPowerBreakTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("外接电源断开最后一次报警时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="CMainPowerBreakLastAlarmTime" name="CMainPowerBreakLastAlarmTime" value="@Model.Device.CMainPowerBreakLastAlarmTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("是否SOS求助"):</label>
                        <div class="col-sm-8 ">
                         <select name="CIsSos" id="CIsSos" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.CIsSos)</select>
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("超速时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="COverSpeedTime" name="COverSpeedTime" value="@Model.Device.COverSpeedTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("超速最后报警时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="COverSpeedLastAlarmTime" name="COverSpeedLastAlarmTime" value="@Model.Device.COverSpeedLastAlarmTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("启动时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="CStartupTime" name="CStartupTime" value="@Model.Device.CStartupTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("启动最后报警时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="CStartupLastAlarmTime" name="CStartupLastAlarmTime" value="@Model.Device.CStartupLastAlarmTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("拥有速度时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="CLastHaveSpeedTime" name="CLastHaveSpeedTime" value="@Model.Device.CLastHaveSpeedTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("拥有速度最后报警时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="CLastHaveSpeedLastAlarmTime" name="CLastHaveSpeedLastAlarmTime" value="@Model.Device.CLastHaveSpeedLastAlarmTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("进入区域列表"):</label>
                        <div class="col-sm-8">
                        <input class="form-control " type="text" id="CInAreaList" name="CInAreaList" value="@Model.Device.CInAreaList" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("是否处于设防"):</label>
                        <div class="col-sm-8 ">
                         <select name="CIsFortify" id="CIsFortify" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.CIsFortify)</select>
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("设防时的经纬度"):</label>
                        <div class="col-sm-8">
                        <input class="form-control " type="text" id="CFortifyLatLng" name="CFortifyLatLng" value="@Model.Device.CFortifyLatLng" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("离开设防区域时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="CLeaveFortifyAreaTime" name="CLeaveFortifyAreaTime" value="@Model.Device.CLeaveFortifyAreaTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("离开设防区域最后报警时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="CLeaveFortifyAreaLastAlarmTime" name="CLeaveFortifyAreaLastAlarmTime" value="@Model.Device.CLeaveFortifyAreaLastAlarmTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("是否脱落"):</label>
                        <div class="col-sm-8 ">
                         <select name="CIsDropOff" id="CIsDropOff" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.CIsDropOff)</select>
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("脱落时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="CDropOffTime" name="CDropOffTime" value="@Model.Device.CDropOffTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("脱落最后报警时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="CDropOffLastAlarmTime" name="CDropOffLastAlarmTime" value="@Model.Device.CDropOffLastAlarmTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("是否震动"):</label>
                        <div class="col-sm-8">
                         <select name="CIsShake" id="CIsShake" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.CIsShake)</select>
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("震动时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="CShakeTime" name="CShakeTime" value="@Model.Device.CShakeTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("是否低电"):</label>
                        <div class="col-sm-8">
                         <select name="CIsLowBattery" id="CIsLowBattery" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.CIsLowBattery)</select>
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("低电时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="CLowBatteryTime" name="CLowBatteryTime" value="@Model.Device.CLowBatteryTime" />
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("低电最后报警时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="CLowBatteryLastAlarmTime" name="CLowBatteryLastAlarmTime" value="@Model.Device.CLowBatteryLastAlarmTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("是否进入盲区"):</label>
                        <div class="col-sm-8 ">
                         <select name="CIsInBlindArea" id="CIsInBlindArea" class="form-control"> @Html.GetOptionHtmlByEnable(Model.Device.CIsInBlindArea)</select>
                        </div>
                    </div>
  <div class="form-group">
                        <label class="col-sm-4 control-label">@L("进入盲区时间"):</label>
                        <div class="col-sm-8">
                       <input class="form-control " type="text" id="CInBlindAreaTime" name="CInBlindAreaTime" value="@Model.Device.CInBlindAreaTime" />
         </div>
                    </div>
   </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("进入盲区最后报警时间"):</label>
                        <div class="col-sm-8 ">
                       <input class="form-control " type="text" id="CInBlindAreaLastAlarmTime" name="CInBlindAreaLastAlarmTime" value="@Model.Device.CInBlindAreaLastAlarmTime" />
                        </div>
                    </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("所属用户Id"):</label>
                        <div class="col-sm-8 ">
                        <input class="form-control " type="text" id="UserId" name="UserId" value="@Model.Device.UserId" />
                        </div>
                    </div>
   </div>
  </div>
    </div>
 </form>
</div>

