@model CH.Spartan.MultiTenancy.Dto.CreateTenantOutput
@section styles
{
    @Styles.Render("~/styles/plugins/edit")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        (function ($) {
            if (!$) {
                return;
            }
            from.validate({
                submitHandler: function (form) {
                    var data =
                    {
                        tenant: abp.utils.getFormData(form)
                    };
                    abp.ajax({
                        url: "/SystemManage/CreateTenant",
                        data: JSON.stringify(data)
                    }).done(function (result) {
                        abp.message.success("@L("添加成功")");
                        abp.dialog.close();
                    });
                }
            });
        })(jQuery);

        function submitForm() {
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins @(SpartanConsts.DefaultAnimate) edit-col-1">
    <form class="form-horizontal" id="form">
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("公司名")：</label>
                        <div class="col-sm-8">
                            <input name="Name" class="form-control required stringCheck" type="text" value="@Model.Tenant.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("租户名")：</label>
                        <div class="col-sm-8">
                            <input name="TenancyName" class="form-control required stringCheck" type="text" value="@Model.Tenant.TenancyName">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("电话")：</label>
                        <div class="col-sm-8">
                            <input name="Phone" class="form-control required isTel" type="text" value="@Model.Tenant.Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("邮件")：</label>
                        <div class="col-sm-8">
                            <input name="EmailAddress" class="form-control required isEmail" type="text" value="@Model.Tenant.EmailAddress">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
