@section styles
{
    @Styles.Render("~/styles/plugins/list")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/list")
    <script type="text/javascript">
        //操作
        function formatterOp(value, row, index) {
            var edit = "";
            if (abp.auth.isGranted("@SpartanPermissionNames.SystemManages_DeviceType_Update")) {
                edit = '<i class="btn-op fa fa-edit" title="@L("修改")" onclick="update(\'' + row.id + '\')"></i>';
            }
            return edit;
        }


        //更新
        function update(id) {
            abp.dialog.open("/SystemManage/UpdateDeviceType?id=" + id, "@L("修改设备类型")", {
                area: ["775px", "80%"],
                //area: ["675px", "80%"],
                //area: ["775px", "80%"],
                //area: ["995px", "80%"],
                //area: ["1250px", "80%"],
                btn: ["@L("保存")", '@L("取消")'],
                yes: function (index, layero) {
                    var iframeWin = layero.find("iframe")[0].contentWindow;
                    iframeWin.submitForm();
                },
                cancel: function (index) {
                },
                end: function () {
                    $("#btn-search").click();
                }
            });
        }

        function formatSearch() {
            return "";
        }

        (function ($) {
            if (!$) {
                return;
            }

            //搜索
            $("#btn-search").click(function () {
                var args =
                {
                    query: abp.utils.getFormData("#form")
                }
                $("#table").bootstrapTable("refresh", args);
            });

            //添加
            $("#btn-add").click(function () {
                create();
            });
        })(jQuery);
    </script>
}
<div class="wrapper wrapper-content animated lightSpeedIn list">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content list-content">
                    <table id="table"
                           data-toggle="table"
                           data-url="/SystemManage/SearchDeviceType"
                           data-toolbar="#tableToolbar"
                           data-height="550"
                           data-search="true"
                           data-search-placeholder="@L("请输入关键字 按回车查看")"
                           data-show-export="true">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" data-sortable="true" data-width="50">@L("编号")</th>
                                <th data-field="op" data-formatter="formatterOp" data-width="60">@L("操作")</th>
                                <th data-field="name" data-sortable="true">@L("名称")</th>
                                <th data-field="switchInGateway" data-sortable="true">@L("接入网关")</th>
                                <th data-field="supplier" data-sortable="true">@L("供应商")</th>
                                <th data-field="manufacturer" data-sortable="true">@L("制造商")</th>
                                <th data-field="serviceCharge" data-sortable="true">@L("服务费元/年")</th>
                                <th data-field="lastModificationTime" data-sortable="true">@L("最后编辑时间")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



