@section styles
{
    @Styles.Render("~/styles/plugins/list")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/list")
    <script type="text/javascript">
        //操作
        function formatterOp(value, row, index) {
            var edit = "";
            if (abp.auth.isGranted("@SpartanPermissionNames.SystemManages_Node_Update")) {
                edit = '<i class="btn-op fa fa-edit" title="@L("修改")" onclick="update(\'' + row.id + '\')"></i>';
            }
            return edit;
        }

        //添加
        function create() {
            abp.dialog.open("/SystemManage/CreateNode", "@L("添加节点")", {
                area: ["500px", "350px"],
                //area: ["675px", "750px"],
                //area: ["775px", "750px"],
                //area: ["995px", "750px"],
                //area: ["1250px", "750px"],
                btn: ["@L("确定")", '@L("取消")'],
                yes: function (index, layero) {
                    var iframeWin = layero.find("iframe")[0].contentWindow;
                    iframeWin.submitForm();
                },
                cancel: function (index) {
                },
                end: function () {
                    $("#table").bootstrapTable("refresh");
                }
            });
        }



        //更新
        function update(id) {
            abp.dialog.open("/SystemManage/UpdateNode?id=" + id, "@L("修改节点")", {
                area: ["500px", "400px"],
                btn: ["@L("保存")", '@L("取消")'],
                yes: function (index, layero) {
                    var iframeWin = layero.find("iframe")[0].contentWindow;
                    iframeWin.submitForm();
                },
                cancel: function (index) {
                },
                end: function () {
                    $("#table").bootstrapTable("refresh");
                }
            });
        }

        (function ($) {
            if (!$) {
                return;
            }

            //搜索
            $("#btn-search").click(function () {
                var args =
                {
                    query: abp.utils.getFormData("#form")
                }
                $("#table").bootstrapTable("refresh", args);
            });

            //添加
            $("#btn-add").click(function () {
                create();
            });

        })(jQuery);
    </script>
}
<div class="wrapper wrapper-content @(SpartanConsts.DefaultAnimate) list">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content list-toolbar">
                    <form role="form" class="form-inline" id="form">
                        <div class="form-group">
                            @Html.SearchText(L("请输入关键字"), L("查询"))
                        </div>
                    </form>
                </div>
                <div class="ibox-content list-content">
                    <div class="btn-group hidden-xs" id="tableToolbar" role="group">
                        @if (IsGranted(SpartanPermissionNames.SystemManages_Node_Create))
                        {
                            <button type="button" class="btn btn-outline btn-default" id="btn-add"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        }
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-url="/SystemManage/SearchNode"
                           data-toolbar="#tableToolbar"
                           data-height="550"
                           data-show-export="true">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="id" data-sortable="true" data-width="50">@L("编号")</th>
                            <th data-field="op" data-formatter="formatterOp" data-width="60">@L("操作")</th>
                            <th data-field="name" data-sortable="true">@L("节点名字")</th>
                            <th data-field="historyTableName" data-sortable="true">@L("历史数据表")</th>
                            <th data-field="lastModificationTime" data-sortable="true">@L("最后编辑时间")</th>
                            <th data-field="creationTime" data-sortable="true">@L("创建时间")</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
