@section styles
{
    @Styles.Render("~/styles/plugins/list")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/list")
    <script type="text/javascript">
        //操作
        function formatterOp(value, row, index) {
            var edit = "";
            var del = "";
            if (abp.auth.isGranted("@SpartanPermissionNames.SystemManages_Tenant_Update")) {
                 edit = '<button type="button" class="btn btn-link btn-op" title="@L("修改")" onclick="update(\'' + row.id + '\')"><i class="fa fa-edit" ></i> @L("修改")</button>';
            }
            if (abp.auth.isGranted("@SpartanPermissionNames.SystemManages_Tenant_Delete")) {
                 del = '<button type="button" class="btn btn-link btn-op" title="@L("删除")" onclick="del(\'' + row.id + '\')"><i class="fa fa-trash-o""></i> @L("删除")</button>';
            }
            return edit + del;
        }

        //添加
        function create() {
            abp.dialog.open("/SystemManage/CreateTenant", "@L("添加租户")", {
                area: ["675px", "500px"],
                btn: ["@L("确定")", '@L("取消")'],
                yes: function (index, layero) {
                    var iframeWin = layero.find("iframe")[0].contentWindow;
                    iframeWin.submitForm();
                },
                cancel: function (index) {

                },
                end: function () {
                    $("#btn-search").click();
                }
            });
        }


        //更新
        function update(id) {
            abp.dialog.open("/SystemManage/UpdateTenant?id=" + id, "@L("修改租户")", {
                area: ["675px", "500px"],
                btn: ["@L("保存")", '@L("取消")'],
                yes: function (index, layero) {
                    var iframeWin = layero.find("iframe")[0].contentWindow;
                    iframeWin.submitForm();
                },
                cancel: function (index) {

                },
                end: function () {
                    $("#btn-search").click();
                }
            });
        }

        //删除
        function del(ids) {
            if (typeof ids == "string") {
                ids = [{ id: ids }];
            }
            abp.message.confirm("@L("确定删除")?", function (yes) {
                if (yes) {
                    abp.ajax({
                        url: "/SystemManage/DeleteTenant",
                        data: JSON.stringify(ids)
                    }).done(function (result) {
                        $("#btn-search").click();
                    });
                }
            });
        }

        (function ($) {
            if (!$) {
                return;
            }

            //搜索
            $("#btn-search").click(function () {
                var args =
                {
                    query: abp.utils.getFormData("#form")
                }
                $("#table").bootstrapTable("refresh", args);
            });

            //添加
            $("#btn-add").click(function () {
                create();
            });

            //删除
            $("#btn-del").click(function () {
                var rows = $("#table").bootstrapTable("getSelections");
                var ids = [];
                $.each(rows, function (index, item) {
                    ids.push({ id: item.id });
                });
                del(ids);
            });
        })(jQuery);
    </script>
}
<div class="wrapper wrapper-content @(SpartanConsts.DefaultAnimate) list">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content list-toolbar">
                    <form role="form" class="form-inline" id="form">
                        <div class="form-group">
                            @Html.SearchText(L("请输入租户名/名称"), L("查询"))
                        </div>
                    </form>
                </div>
                <div class="ibox-content list-content">
                    <div class="btn-group hidden-xs" id="tableToolbar" role="group">
                        @if (IsGranted(SpartanPermissionNames.SystemManages_Tenant_Create))
                        {
                            <button type="button" class="btn btn-outline btn-default" id="btn-add"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        }
                        @if (IsGranted(SpartanPermissionNames.SystemManages_Tenant_Delete))
                        {
                            <button type="button" class="btn btn-outline btn-default" id="btn-del"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        }
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-url="/SystemManage/GetTenantListPaged"
                           data-toolbar="#tableToolbar"
                           data-height="550"
                           data-show-export="true">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" data-sortable="true" data-width="50">@L("编号")</th>
                                <th data-field="op" data-formatter="formatterOp" data-width="120">@L("操作")</th>
                                <th data-field="tenancyName" data-sortable="true">@L("租户名")</th>
                                <th data-field="name" data-sortable="true">@L("公司名")</th>
                                <th data-field="isActiveText" data-sortable="true">@L("允许登录")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



