@model CH.Spartan.Nodes.Dto.UpdateNodeOutput
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        (function ($) {
            if (!$) {
                return;
            }
            from.validate({
                submitHandler: function (form) {
                    var data =
                    {
                        node: abp.utils.getFormData(form)
                    };
                    abp.ajax({
                        url: "/SystemManage/UpdateNode",
                        data: JSON.stringify(data)
                    }).done(function (result) {
                        abp.message.success("@L("保存成功")");
                        abp.dialog.close();
                    });
                }
            });
        })(jQuery);

        function submitForm() {
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins @(SpartanConsts.DefaultAnimate) edit-col-1">
    <form class="form-horizontal" id="form">
        <input name="Id" class="form-control" type="hidden" value="@Model.Node.Id">
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("节点名字"):</label>
                        <div class="col-sm-8">
                            <input class="form-control required stringCheck" type="text" id="Name" name="Name" value="@Model.Node.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@L("历史数据表"):</label>
                        <div class="col-sm-8">
                            <input class="form-control required isEnglishAndNumber" type="text" id="HistoryTableName" readonly  name="HistoryTableName" value="@Model.Node.HistoryTableName" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
