@using System.Web.Optimization
@model CH.Spartan.MultiTenancy.Dto.UpdateTenantOutput
@section styles
{
    @Styles.Render("~/styles/plugins/edit")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        (function ($) {
            if (!$) {
                return;
            }
            from.validate({
                submitHandler: function (form) {
                    var data =
                    {
                        tenant: abp.utils.getFormData(form)
                    };
                    abp.ajax({
                        url: "/SystemManage/UpdateTenant",
                        data: JSON.stringify(data)
                    }).done(function (result) {
                        abp.message.success("@L("保存成功")");
                        abp.dialog.close();
                    });
                }
            });
        })(jQuery);

        function submitForm() {
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins animated lightSpeedIn">
    <div class="ibox-content">
        <form class="form-horizontal m-t" id="form">
            <input name="Id" class="form-control" type="hidden" value="@Model.Tenant.Id">
            <div class="form-group">
                <label class="col-sm-3 control-label">@L("公司名")：</label>
                <div class="col-sm-8">
                    <input name="Name" class="form-control" type="text" required value="@Model.Tenant.Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@L("租户名")：</label>
                <div class="col-sm-8">
                    <input name="TenancyName" class="form-control" type="text" readonly value="@Model.Tenant.TenancyName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@L("电话")：</label>
                <div class="col-sm-8">
                    <input name="Phone" class="form-control" type="text" required value="@Model.Tenant.Phone">
                </div>
            </div>
        </form>
    </div>
</div>
