@using System.Web.Optimization
@using CH.Spartan.Web.Models
@model CH.Spartan.DeviceTypes.Dto.UpdateDeviceTypeOutput
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        (function ($) {
            if (!$) {
                return;
            }
            from.validate({
                submitHandler: function (form) {
                    var data =
                    {
                        deviceType: abp.utils.getFormData(form)
                    };
                    abp.ajax({
                        url: "/SystemManage/UpdateDeviceType",
                        data: JSON.stringify(data)
                    }).done(function (result) {
                        abp.message.success("@L("保存成功")");
                        abp.dialog.close();
                    });
                }
            });
        })(jQuery);

        function submitForm() {
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins animated lightSpeedIn">
    <div class="ibox-content">
        <form class="form-horizontal m-t" id="form">
            <input name="Id" class="form-control" type="hidden" value="@Model.DeviceType.Id">
            <div class="form-group">
                <label class="col-sm-3 control-label">@L("设备类型名字"):</label>
                <div class="col-sm-8">
                    <input class="form-control " type="text" id="Name" name="Name" value="@Model.DeviceType.Name" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("设备所使用协议"):</label>
                <div class="col-sm-8">
                    <input class="form-control " type="text" id="Protocol" name="Protocol" value="@Model.DeviceType.Protocol" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("设备唯一编码生成规则"):</label>
                <div class="col-sm-8">
                    <input class="form-control " type="text" id="CodeCreateRule" name="CodeCreateRule" value="@Model.DeviceType.CodeCreateRule" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("是否有继电器"):</label>
                <div class="col-sm-8">
                    <select name="IsHaveRelay" id="IsHaveRelay" class="form-control"> @Html.GetOptionHtmlByEnable(Model.DeviceType.IsHaveRelay)</select>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("是否有外接电源"):</label>
                <div class="col-sm-8">
                    <select name="IsHaveMainPowerBreak" id="IsHaveMainPowerBreak" class="form-control"> @Html.GetOptionHtmlByEnable(Model.DeviceType.IsHaveMainPowerBreak)</select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("是否有SOS报警"):</label>
                <div class="col-sm-8">
                    <select name="IsHaveSos" id="IsHaveSos" class="form-control"> @Html.GetOptionHtmlByEnable(Model.DeviceType.IsHaveSos)</select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("是否有脱落报警"):</label>
                <div class="col-sm-8">
                    <select name="IsHaveDropOff" id="IsHaveDropOff" class="form-control"> @Html.GetOptionHtmlByEnable(Model.DeviceType.IsHaveDropOff)</select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("是否有震动报警"):</label>
                <div class="col-sm-8">
                    <select name="IsHaveShake" id="IsHaveShake" class="form-control"> @Html.GetOptionHtmlByEnable(Model.DeviceType.IsHaveShake)</select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("是否有低电报警"):</label>
                <div class="col-sm-8">
                    <select name="IsHaveLowBattery" id="IsHaveLowBattery" class="form-control"> @Html.GetOptionHtmlByEnable(Model.DeviceType.IsHaveLowBattery)</select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("是否有电量数据"):</label>
                <div class="col-sm-8">
                    <select name="IsHavePower" id="IsHavePower" class="form-control"> @Html.GetOptionHtmlByEnable(Model.DeviceType.IsHavePower)</select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@L("是否有Acc信号"):</label>
                <div class="col-sm-8">
                    <select name="IsHaveAcc" id="IsHaveAcc" class="form-control"> @Html.GetOptionHtmlByEnable(Model.DeviceType.IsHaveAcc)</select>
                </div>
            </div>

        </form>
    </div>
</div>
