@using System.Threading
<select class="form-control @ViewBag.Class" name="@ViewBag.Name" id="@ViewBag.Name">
    @if (ViewBag.HasInitValue)
    {
        <option value="@ViewBag.Value" selected="selected">@ViewBag.Text</option>
    }
</select>
<script type="text/javascript">
    (function ($) {
        if (!$) {
            return;
        }
        $(function () {

            $("#@ViewBag.Name").select2({
                language: "@Thread.CurrentThread.CurrentUICulture.Name",
                allowClear: true,
                placeholder: "@ViewBag.Placeholder",
                ajax: {
                    url: "@ViewBag.Url",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        var dataQueryFun = "@(ViewBag.Name)Query";
                        var args = {
                            searchText: params.term,
                            maxResultCount: "@SpartanConsts.DefaultMaxResultCount"
                        }
                        if (abp.utils.isExitsFunction(dataQueryFun)) {
                            return eval(dataQueryFun)(args, params);
                        }
                        return args;
                    },
                    processResults: function (data, params) {
                        var result = $.map(data.result.items, function (obj) {
                            obj.id = obj.id || obj["@ViewBag.ValueField"];
                            obj.text = obj.text || obj["@ViewBag.TextField"];
                            return obj;
                        });
                        return {
                            results: result
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }
                @*templateResult: function(obj) {
                    return obj["@ViewBag.TextField"];
                },
                templateSelection: function(obj) {
                    debugger;
                    if (obj.selected) {
                        //默认值
                        return obj["text"];
                    }
                    if (obj["@ViewBag.ValueField"] === "") {
                        //placeholder
                        return obj["@ViewBag.TextField"];
                    }
                    return obj["@ViewBag.TextField"];
                }*@
            });
        });
    })(jQuery);

</script>