@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico">
    <title>@ViewBag.Title</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    @Styles.Render("~/styles")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/scripts/top")
    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
</head>
<body class="fixed-sidebar full-height-layout">
    @RenderBody()
    @Scripts.Render("~/scripts/bottom")
    <script src="/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <script src="/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
