@model CH.Spartan.Devices.Dto.UpdateDeviceByCustomerOutput
@section styles
{
    @Styles.Render("~/styles/plugins/edit")
    <style type="text/css">
        .tabs-container ul > li > a {
            border-radius: 0px;
        }

        .tabs-container .panel-body {
            border: 0;
            height: 599px;
            overflow: auto;
        }

        .checkbox.i-checks label:first-child {
            padding-left: 0px;
        }

        .checkbox.i-checks label:last-child {
            padding-left: 15px;
        }
    </style>
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        var callback = null;
        (function($) {
            if (!$) {
                return;
            }
            $(function() {
                from.validate({
                    submitHandler: function(form) {
                        var areaSetting = [];
                        $(".area-setting").each(function() {
                            var inarea = $(".in", this);
                            var outarea = $(".out", this);
                            if (inarea.prop("checked")) {
                                areaSetting.push({ AreaId: inarea.data("areaid"), IsInArea: true });
                            }

                            if (outarea.prop("checked")) {
                                areaSetting.push({ AreaId: outarea.data("areaid"), IsInArea: false });
                            }
                        });

                        if (areaSetting.length > 0) {
                            $("#SInOutArea").val(JSON.stringify(areaSetting));
                        } else {
                            $("#SInOutArea").val("");
                        }

                        var data =
                        {
                            device: abp.utils.getFormData(form)
                        };

                        abp.ajax({
                            url: "/CustomerManage/UpdateDevice",
                            data: JSON.stringify(data)
                        }).done(function(result) {
                            if (callback) {
                                callback(result, "@L("保存成功")");
                            }
                            abp.dialog.close();
                        });
                    }
                });

            });
        })(jQuery);

        function submitForm(cb) {
            callback = cb;
            from.submit();
        }
    </script>
}

<div class="ibox float-e-margins @SpartanConsts.DefaultAnimate edit-col-1">
    <form class="form-horizontal" id="form">
        <input name="Id" class="form-control" type="hidden" value="@Model.Device.Id">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-base">基本资料</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#tab-setting">设备设置</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-base" class="tab-pane active">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@L("设备类型"):</label>
                                    <div class="col-sm-8 ">
                                        @Html.GetSelectByDeviceType("BDeviceTypeId", L("请选择设备类型"), Model.Device.BDeviceTypeId, "required w180")
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@L("设备号"):</label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control required isDigits" type="text" id="BNo" name="BNo" value="@Model.Device.BNo" />
                                        <span class="help-block m-b-none">@L("设备的唯一编码) 一般是IMEI号或者序列号")</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@L("设备卡号"):</label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control required isDigits" type="text" id="BSimNo" name="BSimNo" value="@Model.Device.BSimNo" />
                                        <span class="help-block m-b-none">@L("设备所使用的SIM卡卡号")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@L("设备名字"):</label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control required" type="text" id="BName" name="BName" value="@Model.Device.BName" />
                                        <span class="help-block m-b-none">@L("例如：粤B95270")</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@L("设备描述"):</label>
                                    <div class="col-sm-8">
                                        <input class="form-control required" type="text" id="BDscription" name="BDscription" value="@Model.Device.BDscription" />
                                        <span class="help-block m-b-none">@L("例如：隐藏安装/安装在车头")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@L("过期时间"):</label>
                                    <div class="col-sm-8">
                                        <input class="form-control required" type="text" id="BExpireTime" name="BExpireTime" disabled="disabled" value="@Model.BExpireTime" />
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-setting" class="tab-pane">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@L("超速限制"):</label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control required isInteger w180" type="text" id="SLimitSpeed" name="SLimitSpeed" value="@Model.Device.SLimitSpeed" />
                                        <span class="help-block m-b-none">@L("触发超速报警的最大速度 km/h")</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@L("进出区域"):</label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control" type="hidden" id="SInOutArea" name="SInOutArea" value="@Model.Device.SInOutArea" />
                                        <span class="help-block m-b-none mb10">@L("设置进入和离开哪个区域的时候触发报警")</span>
                                        @if (Model.AllAreas.Count == 0)
                                        {
                                            <p>@L("您还没有设置有任何区域")</p>
                                        }
                                        else
                                        {
                                            foreach (var area in Model.AllAreas)
                                            {
                                                <div class="checkbox i-checks area-setting">
                                                    <label>
                                                        <input type="checkbox" class="in" id="area-in-@area.Id" data-areaid="@area.Id" @(Model.Device.AreaSettings.Any(p => p.AreaId == area.Id && p.IsInArea) ? "checked" : "")> @L("进入")
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" class="out" id="area-out-@area.Id" data-areaid="@area.Id" @(Model.Device.AreaSettings.Any(p => p.AreaId == area.Id && !p.IsInArea) ? "checked" : "")> @L("离开") @area.Name
                                                    </label>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
